<%- include('header', { canonical }); -%>

<% for (let post of postList) { -%>

	<a href="/blog/<%- post.id %>/<%- post.formatedTitle %>">
		<article lang="<%- post.lang %>">

		<time datetime="<%- post.date.toISOString() %>"><%- post.date.toDateString() %></time>
		<h1><%- post.title %></h1>
		<%- post.excerpt %>

		</article>
	</a>
<% } -%>


<%- include('blog_license'); -%>
<%- include('footer'); -%>
