<%- include('header', { canonical }); -%>

<article lang="<%- lang %>">
<time datetime="<%- date.toISOString() %>"><%- date.toDateString() %></time>
<h1><%- title %></h1>
<%- bodyCopy %>
</article>

<% if(tags !== null) { _%>
	<nav id="tags">
		<% tags.forEach(function(tag) { -%>
			<a href="/blog/tag/<%- tag %>"><%- tag %></a>
		<% }); -%>
	</nav>
<%_ } -%>

<%- include('blog_license'); -%>

</main>

<%- include('footer', { title: title }); -%>
