<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Julien Mourer's blog</title>
	<subtitle>Interesting stuff, computer related or not</subtitle>
	<link href="https://getkey.eu/blog/atom.xml" rel="self"/>
	<% if (postList.length !== 0) { -%>
		<updated><%- postList[0].date.toISOString() %></updated>
	<% } -%>

	<% for(let post of postList) { -%>
		<entry>
			<title><%- post.title %></title>
			<link href="https://getkey.eu/blog/<%- post.id %>"/>
			<id><%- post.id %></id>
			<updated><%- post.date.toISOString() %></updated>
			<content type="html" xml:lang="<%- post.lang %>">
				<%= post.excerpt %>
			</content>
			<author>
				<name>Julien Mourer</name>
				<email>getkey@getkey.eu</email>
			</author>
		</entry>
	<% } -%>
</feed>
