<%- include('header') -%>

<article lang="<%- lang %>">
<time datetime="<%- date.toISOString() %>"><%- date.toDateString() %></time>
<h1><%- title %></h1>
<%- bodyCopy %>
</article>

<% if(tags !== null) { -%>
<div>Tags:<% tags.forEach(function(tag) { -%>
 <a href="/blog/tag/<%- tag %>"><%- tag %></a><% }); %></div>
<% } -%>

</main>

<%- include('footer', { title: title }) -%>
