<%- include('header', { canonical }); -%>

<% for (let post of postList) { -%>

	<a href="/blog/<%- post.cache.id %>/<%- formatTitle(post.cache.title) %>">
		<article lang="<%- post.lang %>">

		<time datetime="<%- post.date.toISOString() %>"><%- post.date.toDateString() %></time>
		<h1><%- post.cache.title %></h1>
		<%- post.cache.excerpt %>

		</article>
	</a>
<% } -%>

<%- include('full_footer'); -%>
