<% include header %>

<article lang="<%- lang %>">
<h1><%- title %></h1>
<time datetime="<%- date.toISOString() %>" pubdate><%- date.toDateString() %></time>
<%- bodyCopy %>
</article>

<% if(tags !== null) { -%>
<div>Tags:<% tags.forEach(function(tag) { -%>
 <a href="/blog/tag/<%- tag %>"><%- tag %></a><% }); %></div>
<% } -%>

<% include footer %>
