<% include header %>

<article lang="<%- lang %>">
<h1><%- title %></h1>
<time datetime="<%- date.toISOString() %>"><%- date.toDateString() %></time>
<%- bodyCopy %>
</article>

<% if(tags !== null) { -%>
<div>Tags:<% tags.forEach(function(tag) { -%>
 <a href="/blog/tag/<%- tag %>"><%- tag %></a><% }); %></div>
<% } -%>

</main>
<footer>
	<p>I am a student looking for an internship. Send me <a href="/about#contact">a mail</a>!</p>
</footer>
<% include footer %>
