<%- include('header') -%>

<% for (let post of postList) {
	let date = post._id.getTimestamp(); -%>

	<a href="/blog/<%- post._id.toString().substr(0, 8) %>/<%- formatTitle(post.title) %>">
		<article lang="<%- post.lang %>">

		<h1><%- post.title %></h1>
		<time datetime="<%- date.toISOString() %>"><%- date.toDateString() %></time>
		<%- post.cache.excerpt %>

		</article>
	</a>
<% } -%>

<%- include('full_footer') -%>
